@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hedvig+Letters+Serif:opsz@12..24&family=Jost&family=Satisfy&display=swap");

// Paleta de colores
$primary: #fff;
$secondary: #333;
$green: #55ac69;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Jost", sans-serif;
  background-color: $primary;
  height: 100%;
}
// utilidades
a {
  text-decoration: none;
  color: $secondary;
}
a:hover {
  color: $primary;
}
h2,
h3 {
  font-family: "Hedvig Letters Serif", serif;
  text-align: center;
}
.btn {
  border-radius: 5px;
}
.btn:hover {
  cursor: pointer;
  background-color: $primary;
  color: $green;
}

// Header

header {
  //Navbar

  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    align-items: center;
    justify-content: baseline;
    background: linear-gradient(to right, $primary, $secondary);
    box-shadow: 1px 1px 5px $secondary;
    height: 80px;
    border-bottom: 1px solid $green;
    z-index: 4;

    .n-left {
      .nav-target {
        display: flex;
      }
      .menu {
        position: fixed;
        left: 0;
        bottom: 0;
        top: 80px;
        right: 0;
        background-color: $secondary;
        display: grid;
        place-items: center;
        clip-path: circle(0% at top left);
        transition: clip-path 0.4s;
        .nav-link {
          color: $primary;
          padding: 30px;
        }
      }
      .menu:target {
        clip-path: circle(150% at top left);
      }
    }

    .n-right {
      display: flex;
      flex-direction: row;
      input {
        padding: 0.75em;
        background-color: $primary;
        border: 1px solid $green;
        color: $green;
        margin: -1px;
      }
      input[type="search"] {
        width: 80px;
      }
      .btn-search {
        padding: 12px 10px 5px 10px;
        align-items: center;
        justify-items: center;
      }
      .btn {
        background: $green;
        color: $primary;
      }
      .btn:hover {
        cursor: pointer;
        background-color: $primary;
        color: $green;
      }
    }
  }
}
main {
  padding: 100px 20px 50px 20px;
  max-width: 500px;
  margin: auto;
  background: $primary;
  text-align: center;

  form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: 20px;
    border: solid 1px $green;
    border-radius: 10px;

    input,
    input:focus {
      border: none;
      border-bottom: 1px solid $green;
      padding: 15px 10px 2px 10px;
    }
    input:focus {
      outline-style: dotted;
      outline-color: $green;
    }
    h2 {
      font-size: 1rem;
      margin-bottom: 0.5rem;
    }
    .sex {
      display: flex;
      flex-direction: column;
      text-align: left;
      padding-left: 50px;
      margin-bottom: 20px;
    }
    input[type="checkbox"] {
      margin-bottom: 1.5rem;
    }

    .terms {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    .send {
      margin-bottom: 2rem;
      .btn {
        padding: 10px 20px;
        outline: none;
      }
      .sumbit {
        color: $secondary;
        background-color: $green;
      }
      .sumbit:hover {
        background-color: $primary;
        color: $green;
      }

      a:hover {
        color: $green;
      }
    }
  }
}
footer {
  text-align: center;
  background: $secondary;
  color: $primary;
  padding: 1rem 0.5rem;
  a {
    color: $primary;
  }
  a:hover {
    color: $green;
  }
  .social {
    margin-bottom: 1rem;
  }
  .links {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    ul {
      list-style: none;
    }
  }
}
